body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: #2e508b;
}
a:hover, a:active {
    text-decoration: underline;
}
#navigation {
    background-color: #395d9a;
    height: 83px;
}
#all {
    display: flex;
    justify-content: space-around;
}
#all img {
    margin-top: 7px;
    height: 76px;
}
.log-in {
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 13px;
}
.log-in p {
    margin-bottom: 5px;
}
.log-in input {
    width: 88%;
    height: 15px;
    margin-bottom: 8px;
}
.log-in a {
    display: flex;
    color: rgba(255, 255, 255, 0.63);
    font-size: 13px;
}
.log-in button {
    margin: 30px 0 20px 0;
    background-color: #4267b2;
    color: white;
    border: #000000;
    box-shadow: 0 0 10px #3d4d69;
}
.log-in button:hover {
    background-color: #395d9a;
}
#body {
    background-color: #edf0f5;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}
.body-first {
    margin-top: 30px;
    margin-left: 55px;
}
.body-first p {
    font-size: 25px;
    font-weight: bold;
    width: 450px;
    letter-spacing: 2px;
}
.body-second {
    width: 500px;
    padding-top: 10px;
}
.body-second h1{
    margin: 13px 0 0 10px;
}
.big {
    margin: 8px 6px;
    font-size: 19px;
}
.body-second input{
    margin: 5px;
    padding: 8px;
    margin-bottom: 13px;
    border-radius: 5px;
    border-style: none;
    border: 1px solid #bdc7d8;
}
.text {
    font-size: 17px;
    width: 177px;
}
.email {
    width: 388px;
    display: flex;
}
.date {
    display: flex;
}
.body-second select {
    padding: 6px;
    margin-left: 5px;
}
.date a {
    margin-left: 10px; 
    width: 170px;
    font-size: 12px;
}
.gender {
    font-size: 20px;
    margin-top: 18px;
}
.gender label {
    margin-left: 10px;
}
.small {
    font-size: 12px;
    width: 340px;
    color: #00000096;
}
.small a{
    font-size: 12px;
}
.body-second button {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
    color: white;
    font-size: 18px;
    padding: 10px 60px;
    border: 1px solid;
    border-radius: 5px;
}
.line {
    border-top: 1px solid rgba(218, 215, 216, 0.88); 
    margin-top: 25px;
    padding-top: 15px; 
    font-size: 15px;
}
#footer {
    background-color: white;
    height: 190px;
    display: flex;
    flex-direction: column;
    color: #585858af;
}
#center {
    margin: 0 185px;
    width: 900px;
}
#center div {
    height: 40px;
    padding: 20px 170px 0 0;
}
#center ul, li {
    display: flex;
    padding: 0;
    justify-content: space-between;
}
#center li {
    font-size: 12px;
}
#center img {
    height: 16px;
    width: 17px;
    border: 1px solid;
}
#footer-line {
    border-top: 1px solid rgba(218, 215, 216, 0.88);
    margin: 0 190px 0 185px;;
}
#larger{
    height: 100px;
    line-height: 20px;
    margin: 0px 200px 0 170px;
}
#larger ul, li {
    display: flex;
    padding: 0;
    padding-right: 5px;
    flex-flow: wrap;
}
#larger li{
    font-size: 12px;
    padding-left: 14px; 
}
.end {
    margin: 0 185px;
    font-size: 12px;
}